#upload-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s linear;
}

#upload-modal-container {
  transform: translate(-50%, -50%);
  overflow-y: auto;
  z-index: 10000;
  top: 50%;
  left: 50%;
  padding-top: 1.5rem;
  font-size: 2rem;
  width: 35rem;
  height: 43rem;
  padding-bottom: 1rem;
  max-height: 102%;
  max-width: 35rem;
  position: absolute;
  background-color: #fff;
  text-align: center;
  border: none;
}

#upload-modal-container::-webkit-scrollbar {
  width: 0.4rem;
}

.cancel-btn {
  font-size: 1.5rem;
  color: rgb(75, 68, 68);
  width: 7rem;
  height: 4rem;
  margin-right: 1rem;
  border: 0px;
  border-radius: 11px;
  background-color: rgb(242, 248, 250);
}

.upload-btn {
  font-size: 1.5rem;
  color: rgb(75, 68, 68);
  width: 7rem;
  height: 4rem;
  margin-left: 1rem;
  border: 0px;
  border-radius: 11px;
  background-color: rgb(242, 248, 250);
}

.desc-box {
  display: absolute;
  align-content: center;
}

input.post-add-desc {
  margin: 0;
  padding: 1rem;
  width: 90%;
  height: 2.5rem;
  font-size: 1rem;
}

div.genre {
  display: absolute;
  align-content: center;
  margin: 1.2rem 0 1rem 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
}

.upload-btn-position {
  display: absolute;
  align-content: center;
  margin-top: 2rem;
  padding-top: 1.5rem;
}

div input {
  margin: 0px 2px 0px 12px;
}

div.portFolioEdit {
  margin-bottom: 6rem;
}

@media (max-width: 767px) {
  #upload-modal-container {
    height: 100%;
    width: 100%;
    padding: 4rem 0rem 4rem 0rem;
  }
}
