@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

html {
  font-size: 100%;
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
  padding: 0rem;
  margin: 0rem;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.responsiveNewblockPosition2 {
  width: 3%;
}

.middleSpace2 {
  flex: auto;
  background-color: #fafafa;
  margin-top: -1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.middleSpace5 {
  flex: auto;
  background-color: #fafafa;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.careerTitle {
  font: italic small-caps bold 16px/2 cursive;
  font-size: 1.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.careerTitleDivide {
  display: flex;
}
.career {
  height: 50%;
}

.careerContent {
  margin-bottom: 0.5rem;
}

.career li {
  font-size: 1rem;
  text-align: left;
}

.fixedSize {
  flex: 1;
  margin-top: 2rem;
}

.testPic {
  width: 15rem;
  height: 15rem;
  /* flex: 1; */
  border-radius: 70%;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.fixedContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  flex: 1;
  height: 20rem;
  background-color: #fafafa;
  margin-top: 2.5rem;
}

.fixedContent2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  flex: 1;
  min-height: 20rem;
  background-color: #fafafa;
}

.displayPosition {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.career-li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.career-li2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10rem;
}

.midContentDownPart2 {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}

.buttonHeader {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
}

.editButton {
  color: gray;
  padding: 0.18rem;
  border: 1px solid lightgray;
}

.editButton:hover {
  color: #1655cb;
  border: 1px solid #1655cb;
}

.deleteButton {
  color: gray;
  padding: 0.18rem;
  border: 1px solid lightgray;
}

.deleteButton:hover {
  color: red;
  border: 1px solid red;
}

.nothing2 {
  width: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

ul.ant-pagination {
  text-align: center;
}
