@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

html {
  font-size: 100%;
  background-color: #fafafa;

}

.name {
  /*font: italic 1.2em "Fira Sans", serif;*/
  font-size: 25px;
  margin-bottom: 10px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.careerTitle {
  font: italic small-caps bold 16px/2 cursive;
  font-size: 1.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.careerTitleDivide {
  display: flex;
}
.career {
  height: 50%;
}

.careerContent {
  /*text-align: left;*/
  /*background-color: yellow;*/  /* TEST  */
}

.career li {
  /*font-family: "Nanum Gothic", sans-serif;*/
  font-size: 1rem;
  text-align: left;
}


.fixedSize {
  /*
  width: 15rem;
  height: 20rem;*/
  /*background-color: yellow;*/
}

.testPic {
  width: 15rem;
  height: 20rem;
  /* flex: 1; */
  object-fit: cover;
}

.midContentDownPart .div {
  /* display: flex; */
}

.fixedContent {
  padding: 30px;
  /*max-width:100%;*/
  flex: 1;
  height: 20rem;
  background-color: #fafafa;
}

.displayPosition {
  display: flex;
  /*flex-direction: column;*/
  /*text-align: center;*/
  flex-wrap: wrap;
  align-content: flex-start;
}

/*
.midContentDownPart2 {
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	padding: 30px;
}
*/



/* * Button */
.buttonHeader {
  color: gray;
  font-size: 2rem;
  text-align: right;
  margin-top: 0.2rem;
  margin-right: 1rem;
}

.editButton {
  padding:3px;
  border: 1px solid lightgray;
}

.editButton:hover {
  color: #1655cb;
  border: 1px solid #1655cb;
}

.deleteButton {
  padding:3px;
  border: 1px solid lightgray;
}

.deleteButton:hover {
  color: red;
  border: 1px solid red;
}