@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.postsGallery {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
}

div.postsGallery {
  margin-top: 2rem;
}

.postGallery-img {
  width: 11rem;
  height: 12rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(207, 207, 207);
}

.galleryComponents {
  width: 10rem;
  height: 8rem;
  margin: 0rem 0rem 4.5rem 1.5rem;
}

.ant-tabs-nav-wrap {
  margin-bottom: 1rem;
}

.nextpageBtn {
  background-color: moccasin;
  height: 2rem;
  text-align: center;
}

.filebox label {
  display: inline-block;
  /* width: 7.79rem; */
  /* padding: .5em .75em;  */
  padding: 0em 0.1em;
  color: rgb(0, 0, 0);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  /* border: 1px solid #dddada;  */
  border-bottom-color: #e2e2e2;
  border-radius: 80%;
  margin-bottom: 0.5rem;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.profileImgEdit {
  display: block;
  width: 100%;
  height: auto;
}

.profileImgEditText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;

  /* flex: 1; */
  border-radius: 70%;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.profileImgEditTextText {
  color: white;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* 프로필 이미지 수정 css 반투명 검은색 hover */
.profileImgContainer {
  position: relative;
}

.profileImgContainer:hover .profileImgEdit {
  opacity: 0.7;
}

.profileImgContainer:hover .profileImgEditText {
  opacity: 0.7;
}

.testPic:hover {
  position: relative;
  overflow: hidden;
}

.testPic::after {
  opacity: 1;
}

.testPic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: all 0.35s;
  border-radius: 70%;
}

.highlightDisplay {
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(222, 239, 255);
  margin-left: -0.2rem;
}

.highlightDisplay2 {
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(255, 230, 0);
}

.highlightDisplay3 {
  margin-left: 2.25rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(255, 230, 0);
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.career {
  font-size: 2.5rem;
  margin-top: 0.6rem;
}
/*
.career-btn {
  position: absolute;
  border: 0px;
  background-color: white;
}
*/

.profileTitleName {
  /* flex: left; */
  font-size: 1.3rem;
  margin-top: 0.5rem;
  font-family: Lato;
  margin-left: 1rem;
}

.profileButtonAll {
  /* float: right; 
  display:inline-block; */
}

.careerTitle2 {
  font-family: Lato;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.displayPosition {
  margin-bottom: 1rem;
}

.profileButton {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.iconTitle {
  align-self: flex-end;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.careerButtonPosition {
  flex: 1;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 0.3rem;
  z-index: 1;
}

.career-box {
}

.career-box li {
  padding: 0.5rem;
  /*
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 60px;
  padding-top: 15px;
  padding-left: 15px;
  height: 130px;
  width: 800px;
  */
  margin-bottom: 1rem;
  border: 1px solid lightgray;
}

.deleteButton {
  margin-left: 0.5rem;
}

.passwordModifyBtn {
  width: 7.78rem;
}

.career-delete-btn {
  /* position: absolute; */
  /*margin-left: 0;*/
  flex: 1;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 0.5rem;

  /* border: 0px; */
  /* background-color: white; */
}

.tag {
  display: flex;
  height: 1.5rem;
}

.tag .tagPosition {
  margin-right: 0.5rem;
}

.career-title2 {
  display: flex;
  justify-content: space-between;
}

.career-year {
  /*
  border-left: 1px solid #e0e0e0;
  */
  margin-left: 4rem;
  margin-right: 0.5rem;
}

.career-year2 {
  /*
  border-left: 1px solid #e0e0e0;
  */
  margin-top: 0.5rem;
}

.genre-tag-box {
  margin-top: 1rem;
}

.career-tag {
  margin-right: 0.5rem;
}

.career-tag2 {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.career-tag3 {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  flex-wrap: wrap;
}

.radioButton {
  color: red;
}

.genre-tag {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 1rem;
}

.careerDivide {
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
}

.careerDivide2 {
  display: flex;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.careerDivide3 {
  display: flex;
  flex-direction: column;
}

.careerDivide4 {
  display: flex;
  /* flex-direction: column; */
}

.careerDivide5 {
  display: flex;
  flex-direction: column;
}

.blockhereplz {
  flex: 20;
}

.nameTitle {
  font-size: 1.7rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
}

.password {
  margin-bottom: 0.5rem;
}

.passwordCheck {
  margin-bottom: 0.5rem;
}

.profileCenter {
  border-top: 1px lightgrey solid;
  margin-bottom: 1rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.profileCenterTaps {
  display: flex;
}

.profileCenterTaps li {
  color: rgb(134, 125, 125);
  margin-right: 1rem;
  font-size: large;
}

i.icon {
  margin-bottom: 0.6rem;
}

i.icon.heart::before {
  color: rgb(255, 82, 82);
}
