@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

::-webkit-scrollbar {
  width: 0.35rem; 
} 

::-webkit-scrollbar-thumb { 
 background-color: #d6d6d6;
} 

::-webkit-scrollbar-track { 
 background-color: rgb(255, 255, 255);
}

.pf.middleSpace2 {
  max-width: 70%;
}

.pf.headerSection {
  height: 2rem;
  font-size: 1.5rem;
}

.pf.fixedSize {
  height: auto;
}

.pf.testPic {
  border-radius: 0%;
}

.pf.fixedContent {
  height: auto;
  text-align: left;
}

.pf.nameTitle {
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.pf.careerTitle {
  margin: 0;
}

.pf.postsTitle {
  font: italic small-caps bold 16px/2 cursive;
  font-size: 1.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.portFolioEdit {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 2rem 0;
  max-width: 100%;
}

.portFolioEdit > div {
  max-width: 100%;
}

.portFolioEdit > button {
  margin: auto;
}

.pf.previewHeader {
  font-size: 1rem;
}

.pf.postsSection {
  height: 300px;
  margin-top: 15px;
  border: 2px dotted lightgray;
}

.pf.postImg {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  flex: 1, 1, auto;
}

.pf.postVideo {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  flex: 1, 1, auto;
}

.pf-slick {
  display: flex;
  max-height: 100%;
}

.pf.fas { 
  font-size: 25px;
  color: gray;
  margin-top: 120px;
}

.pf.selectSection {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 10rem;
  align-items: center;
}

.pf.cancel-or-post-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pf.cancel-btn {
  margin: 0 10%;
}

.pf.upload-btn {
  margin: 0 10%;
}

.pf-select-slick {
  height: 400px;
}

.pf.selectImg {
  height: 400px;
  object-fit: contain;
}

.pf.selectVideo {
  object-fit: contain;
  height: 100%;
}

.pf.postHeader {
  /* height: 50px; */
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.slick-list {
  max-width: 100%;
  max-height: 100%;
  border: lightgray 1px solid;
}

.slick-track {
  max-height: 100%;
}