/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

#post-modal-background {
   position: absolute;
  position: fixed;
  flex-direction: column;
  top: -40vh;
  left: -40vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  padding-top: 14rem;
  padding-left: 45rem;
  justify-content: center;
  align-items: center;
  transition: 0.1s linear;
  transition: all, 0.5s;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  background-color: white;
  margin-left: -60px;
  border-radius: 8px;
  margin-top: 130px;
  width: 1300px;
  height: 80%;
  display: flex;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.post-name {
  font-size: 22px;
  margin: 15px 15px;
}

.post-image {
  margin: 40px;
  margin-top: 72px;
  height: 600px;
  object-fit: cover;
}

.video {
  width: 1200px;
  height: 600px;
  margin: 72px 0px 30px 30px;
}

.info {
  height: 20px;
}

.info-box {
  display: flex;
  position: fixed;
  margin-bottom: 50px;
  width: 1300px;
}

.like {
  font-size: 20px;
  margin: 15px 1080px;
}

.delete-btn {
  position: absolute;
  font-size: 35px;
  margin: 0px 0px 0px 1250px;
  border: 0px;
  background-color: white;
  color: rgb(129, 163, 207);
}

.heart-img {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 15px 1180px;
}

.genre {
  position: absolute;
  font-size: 14px;
  margin: 21px 125px;
}

.desc {
  background-color: rgb(243, 253, 255);
  position: absolute;
  width: 334px;
  margin: 60px 0px 0px 13px;
  font-family: "Nanum Gothic Coding", monospace;
}

.desc {
  margin: 0px 0px 20px 13px;
}

.img-box {
  text-align: center;
}

img.post-image {
  border: 1px solid rgb(129, 163, 207);
}

.photo-delete-btn {
  font-size: 35px;
  border: 0px;
  background-color: white;
}

.float-btn-box {
  position: absolute;
  margin-top: 140px;
  margin-left: 1250px;
  padding: 10px;
}

.float-btn {
  margin-top: 20px;
  padding: 2px;
  color: white;
}

.float-profile-btn,
.float-love-btn,
.float-email-btn,
.float-edit-btn {
  width: 50px;
}

.float-profile-title,
.float-love-title {
  margin-top: 5px;
  margin-left: 5px;
}

.float-email-title {
  margin-top: 5px;
} */

.desc {
  font-size: 1.2rem;
}

div.divider.text {
  font-size: 1.1rem;
}
