.ResponsiveFooter {
  position: fixed;
  display: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  height: 4.7rem;
  background-color: white;
  z-index: 5;
}

.ResponsivespaceDirection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.responsiveHomeButtonIconFooter {
  font-size: 1.5rem;
  padding: 0.3rem;
}

.noEffect {
  text-decoration: none;
  color: black;
}
