.responsiveLeftSpace {
  width: 6%;
  height: 100vh;
  margin-right: 3rem;
}

.responsiveLeftSpace2 {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 15%;
  height: auto;
  background-color: #fafafa;
}

.responsiveIconList {
  margin-top: 4.5rem;
  position: fixed;
  margin-left: 0.5rem;
}

.responsiveHomeButton {
  display: flex;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.responsiveHomeButtonIcon {
  font-size: 1.7rem;
  margin-top: 1rem;
}

.noEffect {
  text-decoration: none;
  color: black;
}
