.responsiveLeftSpace {
  width: 6%;
	height: 100vh;
  margin-right: 3rem;
  /* background-color: #00000044; */
}

.responsiveLeftSpace2 {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20%;
	height: auto;
  background-color: #fafafa;
  /* background-color: #00000044; */
}


.responsiveIconList {
  position: fixed;
  margin-left: 0.5rem;
}


.responsiveHomeButton {
  display: flex;
  height: 2.5rem;
  margin-bottom: 1rem;

}

.responsiveHomeButtonIcon {
  font-size: 1.7rem;
  margin-top: 1rem;
}



/* .iconList {
  padding: 0.2rem;
  border: solid 1px #e0e0e0;
  background-color: #fafafa;
  width: 11rem;
  height: 17rem;
  display: inline-block;
  margin-top: 2rem;
  margin-left: -1rem;
  position: fixed;
  
} */
