.product-search-btn {
  margin: 0rem 0.1rem 0rem 0.1rem;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.375rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 2.8rem;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.product-search {
  height: 31.09px;
  width: 250px;
  border: solid 0.5px #e0e0e0;
}

input.product-search-pc {
  height: 31.09px;
  width: 16rem;
  margin-left: 1rem;
  border: solid 0.5px #e0e0e0;
}

.product-search-btn {
  border-bottom: 1px solid #e0e0e0;
}

div.ant-row.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
}

div.ant-input.input {
  width: 10rem;
}
