#modal-background {
  position: fixed;
  /* flex-direction: column; */
  top: -26vh;
  left: -15vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  /*
   width, height : 100주면 센터로간다. 
   로그아웃 때문에 모달창의 센터를 맞추면 보기가 흉해진다.
   코드로 자체적으로 효과를 주어 값을 올릴지 버튼을 지금처럼
   수동적으로 위로 올려서 쓸지 고민해봐야함. (반응형 적용시 모달창이 생각보다 올라감)
  */
  /* padding-top: 14rem;
  padding-left: 45rem; */
  /* justify-content: center;
  align-items: center; */

  background-color: rgba(221, 222, 220, 0.6);
  /* background-color: rgba(222, 230, 250, 0.8); */
  transition: 0.5s linear;
  
}

#modal-container {
  overflow-y: auto;
  /* display: flex;  */
  /* opacity: 0; */
  transition: all 1s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 30rem; 
  position: absolute;
  z-index: 10000;
  background-color: #fafafa;
  text-align: center;
  transition: 0.5s ease;
}

/*
.modalCancleBtn {
  background-color: red;
  width:0.6rem;
  height:0.6rem;
}
*/

.modal-group {
  padding: 0.6rem;
}

.modal-group > input {
  font-size: 0.6rem;
}

.err-message {
  font-size: 0.5rem;
  color: red;
}

/*
.modal-title .title {
  display: flex;
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}

.modal-title .modal-welcome-message {
  font-size: 1.56rem;
  padding-bottom: 1rem;
}
*/


.modal-btn {
  position: absolute;
  top: 0.625rem;
  left: 20.25rem;
  /* left: 30rem;  */
  font-size: 3rem;
  border: 0;
  color: rgb(129, 163, 207);
  background-color: black;
} 


.btn-login {
  font-size: 0.5rem;
  width: 15.5rem;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 0.8rem;
  margin-top: 1.1rem;
  /* padding: 1rem; */
  background: #fafafa;

}


button.btn-login.login {
  /* margin-top: 1rem;
  margin-bottom: 0.5rem; */
}

.kakao-logo {
  width: 1rem;
  height: 1rem;
  float: left;
}

#modal-section {
  /* display: flex; */
  /* display: block; */
}

.modal-group {
  margin-top: 0.5rem;
}

.modal-group input {
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  /* padding: 5px; */
  background-color: #fafafa;
  font-family: Lato;
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
  /* font-family: cursive; */
}

.modal-welcome-message {
  /* font-family: Lato; */
}

input {
  border: none;
  border-bottom: 1px solid rgb(111, 111, 114);
}

.signup {
  padding-top: 1.5rem;
  font-size: 1rem;
  align-self: flex-end;

}
/*
.googleLoginBtn {
  width: 20rem;
  height: 3rem;
}
*/
.title div {
 flex: 10;
}

.closeBtn {
  flex: 1;
  font-size: 1.5rem;
  color: #bdbdbd;
  align-self: flex-end;
}

/*
.buttonHeader {
  height: 0.5rem;
}
*/

.title {
  font-family: cursive;
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
  font-size: 1.5rem;
  padding: 1.5rem;
  display: flex;
  margin-left: 1.5rem;
}

.settingBtn {
 
}

.loginBtnPosition {
}

.signUpbtnPosition {
  display: flex;
  margin-top: 3rem;
  margin-left: 1.3rem;
}
.movetoSignUp {
  font-size: 0.5rem;
}

.movetoSignUpBtn {
  font-size: 0.5rem;
  margin-left: 0.5rem;
  border-bottom: solid 1px lightgray;

}

.movetoSignUpBtn:hover {
  cursor: pointer;
  background-color: #eceff1;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #eceff1;
}
