/*
#modal-background {
  position: absolute;
  position: fixed;
  flex-direction: column;
  top: -20vh;
  left: -15vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  padding-top: 14rem;
  padding-left: 45rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 230, 250, 0.8);
  transition: 0.5s linear;
}

#modal-container {
  padding-top: 30px;
  font-size: 10px;
  border-radius: 9px;
  width: 35rem;
  height: 42rem;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center;
  overflow-y: scroll;
}
*/


#modal-container::-webkit-scrollbar {
  width: 0.5rem;
}

.modal-group-signup {
  padding: 0.6rem;
  color: red;
  font-size: 1.25rem;
  margin-top: 0.6rem;
}
.modal-group-signup input {
  font-size: 10px;
  color: black;
}

.modal-group-signup > input {
  font-size: 10px;
  width: 15.5rem;
  font-size: 20px;
}

.modal-group-signup-gender {
  padding-right: 15rem;
  font-size: 20px;
}

.company-address-box {
  display: flex;
  margin: 0px 0px 0px 90px;
}

.company-address-box .modal-group-signup {
  padding: 0rem;
  margin-right: 26px;
}

.company-address-box .modal-group-signup > input {
  width: 90px;
  font-size: 1.25rem;
}

.err-message {
  font-size: 1.25rem;
  color: red;
}

.modal-title .title {
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}

.modal-title .modal-welcome-message {
  font-size: 25px;
}

.modal-group-signup-role {
  font-size: 20px;
  padding-right: 20px;
}

.modal-group-signup-role input,
.modal-group-signup-gender input {
  margin: 8px;
}

.modal-btn {
  position: absolute;
  top: 10px;
  left: 510px;
  font-size: 40px;
  border: 0;
  color: rgb(129, 163, 207);
  background-color: white;
}


#modal-section {
  display: block;
}

.gender input {
  width: 20px;
  font-size: 20px;
}

input {
  border: none;
  border-bottom: 1px solid rgb(111, 111, 114);
}

.signup {
  padding-top: 20px;
  font-size: 15px;
}

