#modal-background {
  position: fixed;
  /* flex-direction: column; */
  top: -20vh;
  left: -15vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  /* padding-top: 14rem;
  padding-left: 45rem; */
  /* justify-content: center;
  align-items: center; */

  background-color: rgba(221, 222, 220, 0.6);
  /* background-color: rgba(222, 230, 250, 0.8); */
  transition: 0.5s linear;
  
}

#modal-container {
  /* display: flex; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* max-width: 100%; */
  /* width: auto;  */
  /* display: table; */
  padding-top: 1rem;
  font-size: 0.6rem;
  /* border-radius: 9px; */
  width: 35rem;
  height: 42rem;

  /* width: 25rem;
  height: 30rem; */

  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center;
  
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  padding-top: 2rem;
  font-size: 0.625px;
  border-radius: 0.56rem;
  width: 30rem;
  height: 40rem;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center; */
}

.modalCancleBtn {
  background-color: red;
  width:10px;
  height:10px;
}

.modal-group {
  padding: 10px;
}

.modal-group > input {
  font-size: 10px;
}

.err-message {
  font-size: 20px;
  color: red;
}

.modal-title .title {
  font-size: 20px;
  padding-bottom: 20px;
}

.modal-title .modal-welcome-message {
  font-size: 25px;
  padding-bottom: 15px;
}


.modal-btn {
  position: absolute;
  top: 0.625rem;
  left: 20.25rem;
  left: 40rem; 
  font-size: 3rem;
  border: 0;
  color: rgb(129, 163, 207);
  background-color: white;
} 


.btn-login {
  font-size: 18px;
  width: 380px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  padding: 15px;
  background: white;
}

button.btn-login.login {
  margin-top: 30px;
}

.kakao-logo {
  width: 32px;
  height: 32px;
  float: left;
}

#modal-section {
  display: block;
}

.modal-group {
  margin-top: 30px;
}

.modal-group input {
  width: 350px;
  font-size: 20px;
  margin-top: 8px;
  padding: 5px;
}

input {
  border: none;
  border-bottom: 1px solid rgb(111, 111, 114);
}

.signup {
  padding-top: 20px;
  font-size: 15px;
}
/*
.googleLoginBtn {
  width: 20rem;
  height: 3rem;
}
*/