::-webkit-scrollbar {
  width: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

.reposition {
  margin-left: 0.5rem;
}

.ant-scrolling-effect::-webkit-scrollbar,
.ant-scrolling-effect {
  width: 0;
}

#modal-container-mobile2::-webkit-scrollbar,
#modal-container::-webkit-scrollbar {
  width: 0.4rem;
}

.ant-calendar-input-wrap {
  display: none;
}

.modal-group-signup-align-center {
  align-content: center;
}

.modal-group-signup {
  display: flex;
  padding: 0.6rem;
  width: fit-content;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.modal-group-signup2 {
  display: flex;
  padding: 0.6rem;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.importEffect {
  margin-top: 0.3rem;
  color: red;
}

.importEffect2 {
  margin-top: 0.3rem;
  color: red;
}

.modal-group-signup input {
  width: 15rem;
  font-size: 0.9rem;
  padding: 0.2rem;
  background-color: #fafafa;
  font-family: Lato;
}

.modal-group-signup2 input {
  width: 3.8rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  margin-left: -0.6rem;
  background-color: #fafafa;
  font-family: Lato;
}

.modal-group-signup > input {
  font-size: 0.8rem;
  width: 15rem;
  height: 1rem;
  background-color: #fafafa;
  font-family: Lato;
}

.modal-group-signup-gender {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.company-address-box {
  display: flex;
}

.modal-group-signup3 {
  flex: 1;
  width: 3rem;
  font-size: 0.8rem;
  background: #fafafa;
}

.modal-group-signup4 {
  flex: 1;
  width: 3rem;
  font-size: 0.8rem;
  background: #fafafa;
}

.modal-group-signup2 > input {
  font-size: 0.8rem;
  background-color: #fafafa;
  font-family: Lato;
}

.company-address-box .modal-group-signup2 > input {
  width: 4rem;
  font-size: 0.5rem;
}

.err-message {
  font-size: 0.8rem;
  color: red;
}

.btn-login2 {
  font-size: 0.5rem;
  width: 15.5rem;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 0.8rem;
  margin-top: 0.8rem;
  background: #fafafa;
}

.signUpbtnPosition3 {
  display: flex;
  margin-top: -3rem;
  margin-left: 2rem;
}

.modal-title .title {
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}

.modal-group-signup-role {
  font-size: 0.8rem;
  padding-right: 1.25rem;
}

.modal-group-signup-role input {
  margin-top: 1rem;
}

.odal-group-signup-gender input {
  margin-top: 1rem;
}

#modal-section {
  display: block;
  max-width: 23rem;
}

.gender input {
  width: 1.25rem;
  font-size: 1.25rem;
}

input {
  border: none;
  border-bottom: 1px solid rgb(111, 111, 114);
}

.signup {
  padding-top: 1.25rem;
  font-size: 0.8rem;
}

.modal-welcome-message2 {
  background-color: red;
}

.moreInfo {
  height: fit-content;
  background: #fafafa;
}
