/*
#modal-background {
  position: absolute;
  position: fixed;
  flex-direction: column;
  top: -20vh;
  left: -15vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  padding-top: 14rem;
  padding-left: 45rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 230, 250, 0.8);
  transition: 0.5s linear;
}

#modal-container {
  padding-top: 30px;
  font-size: 10px;
  border-radius: 9px;
  width: 35rem;
  height: 42rem;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center;
  overflow-y: scroll;
}
*/


#modal-container::-webkit-scrollbar {
  width: 0.5rem;
}

.modal-group-signup {
  display: flex;
  padding: 0.6rem;
  /* color: red; */
  font-size: 1.25rem;
}

.importEffect {
  margin-top: 0.3rem;
  color: red;
}

.modal-group-signup input {
  width: 15rem;
  font-size: 0.5rem;
  padding: 0.2rem;
  background-color: #fafafa;
  font-family: Lato;
}

.modal-group-signup > input {
  font-size: 1rem;
  width: 15rem;
  height: 1rem;
  background-color: #fafafa;
  font-family: Lato;
}

.modal-group-signup-gender {
  font-size: 0.5rem;
  margin-right: 1.5rem;
}

.company-address-box {
  display: flex;
}

.company-address-box .modal-group-signup {
  padding: 0rem;
  margin-right: 2rem;
}

.company-address-box .modal-group-signup > input {
  width: 90px;
  font-size: 1.25rem;
}

.err-message {
  font-size: 0.5rem;
  color: red;
}

.btn-login2 {
  font-size: 0.5rem;
  width: 15.5rem;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 0.8rem;
  margin-top: 0.2rem;
  /* padding: 1rem; */
  background: #fafafa;
}

.signUpbtnPosition2 {
  display: flex;
  margin-top: 0.6rem;
  margin-left: 2rem;
}

.modal-title .title {
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}

.modal-group-signup-role {
  font-size: 0.5rem;
  padding-right: 1.25rem;
}

.modal-group-signup-role input{
  margin-top: 1rem;
}

.odal-group-signup-gender input {
  margin-top: 1rem;
}

#modal-section {
  display: block;
}

.gender input {
  width: 1.25rem;
  font-size: 1.25rem;
}

input {
  border: none;
  border-bottom: 1px solid rgb(111, 111, 114);
}

.signup {
  padding-top: 1.25rem;
  font-size: 1rem;
}

