#pf-modal-container {
  padding-top: 20px;
  font-size: 10px;
  border-radius: 10px;
  width: 30rem;
  height: 35rem;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center;
  border: 1px solid black;
}

.pf.headerLabel {
  font-size: 17px;
  color: black;
}

/* .pf.headerSection {
} */

.pf.postsSection {
  height: 300px;
  margin-top: 15px;
  border: 2px dotted lightgray;
}

.pf.postImg {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  flex: 1, 1, auto;
}

.pf.postVideo {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  flex: 1, 1, auto;
}

.pf-slick {
  display: flex;
  
}

.pf.fas { 
  font-size: 25px;
  color: gray;
  margin-top: 120px;
}









.pf.selectSection {
  height: 90px;

}

.pf.cancel-btn {
  margin: 40px 0 0 80px;
}

.pf.upload-btn {
  margin: 40px 80px 0 0;
}

.pf.slider {
  /* height: 100px; */
}