#pf-modal-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding-top: 20px;
  font-size: 10px;
  border-radius: 10px;
  max-width: 30rem;
  max-height: 35rem;
  width: 80%;
  height: 70%;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center;
  border: 1px solid black;
}

.pf.headerLabel {
  font-size: 17px;
  color: black;
}

.pf.postsSection {
  height: 300px;
  margin-top: 15px;
  border: 2px dotted lightgray;
}

.pf.postImg {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  flex: 1, 1, auto;
}

.pf.postVideo {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  flex: 1, 1, auto;
}

.pf-slick {
  display: flex;
  
}

.pf.fas { 
  font-size: 25px;
  color: gray;
  margin-top: 120px;
}

.pf.selectSection {
  height: 120px;

}

.pf.cancel-or-post-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pf.cancel-btn {
  margin: 0 10%;
}

.pf.upload-btn {
  margin: 0 10%;
}

.pf-select-slick {
  height: 400px;
}

.pf.selectImg {
  height: 400px;
  object-fit: cover;
}

.pf.selectVideo {
  height: 400px;
}

.pf.postHeader {
  /* height: 50px; */
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}