@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
body {
  margin: 0px;
}

h1,
p {
  font-family: Lato;
}

.nav-item {
  margin-top: 0.5rem;
  text-decoration: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.nav-link:before {
  text-decoration: none;
  content: "";
  position: absolute;
  height: 2px;
  background: #fff;
  bottom: -4px;
  right: 0;
  width: 0%;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.nav-link:hover:before {
  text-decoration: none;
  left: 0;
  width: 100%;
}

.nothing {
  color: black;
}

.blackNav {
  width: 40%;
}

.blackNav2 {
  width: 30%;
}

/* .searchTotalNav {
  display: flex;
}
 */
.mainPage {
  display: flex;
}

.blockhere {
  display: flex;
  width: 100vw;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.leftSpace {
  text-align: center;
  width: 30%;
  height: 100vh;
  background-color: #fafafa;
}

.middleSpace {
  width: 45%;
  background-color: #fafafa;
  -ms-overflow-style: none;
  overflow: hidden;
  height: auto;
  margin-top: 1rem;
}

.middleSpace3 {
  width: 100%;
  background-color: #fafafa;
  -ms-overflow-style: none;
  overflow: hidden;
  height: auto;
  margin-top: 1rem;

  margin-bottom: 3rem;
}

.mainPageResponsive {
  width: 100%;
}

.mainPageResponsive2 {
  padding-bottom: 100px;
}

.middleSpace::-webkit-scrollbar {
  display: none;
}

.midContentsReverse {
  display: flex;
  flex-direction: column-reverse;
}

div.ui.centered.fluid.card {
  margin: 0.5rem 0 0.5rem 0;
}

.midContents,
.midContents2,
.midContentsResponsive {
  margin-top: 4rem;
  border: solid 0px #e0e0e0;
  background-color: #fafafa;
}
.midContentsResponsive2 {
  margin-top: 4rem;
  border: solid 0px #e0e0e0;
  background-color: #fafafa;
}

.midContents2 {
  border: solid 1px #fafafa;
  background-color: #fafafa;
}

.midContentDownPart {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}

.rightSpace {
  text-align: center;
  width: 20%;
  height: 100vh;
  background-color: #fafafa;
}

.newblockPosition {
  width: 1%;
  background-color: #fafafa;
}

.newblockPosition2 {
  width: 8%;
  background-color: #fafafa;
}

.user {
  text-align: center;
  color: black;
  font-size: 10px;
}

.exampleIMG {
  max-width: 100%;
}

.midContentUpPart {
  display: flex;
  padding: 0.31rem;
  height: 3rem;
  border-bottom: 1px solid #e0e0e0;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.postNamePart {
  font-family: arial sans-serif monospace;
  font-weight: bold;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  text-align: center;
}

.spaceDirection {
  display: flex;
  flex-direction: column;
}

.homeButton {
  display: flex;
  height: 3rem;
  border-bottom: 1px solid #e0e0e0;
}

.homeButtonIcon {
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.homeButtonText {
  width: 100%;
  padding: 1rem;

  margin-right: 2rem;
}

.realIcon {
  color: #686466;
}
.realIcon:hover {
  color: #61ace2;
}

.effecTest {
  margin: 0 auto;
}

.effecTest .screen {
  display: block;
  width: auto;
  text-decoration: none;
}

.effecTest .screen:hover .top {
  bottom: 70%;
}
.effecTest a:hover .bottom {
  top: 80%;
}

.screen {
  position: relative;
  overflow: hidden;
}

.effecTest a:hover .screen::after {
  opacity: 1;
}

img.ui.image.exampleIMG {
  max-height: 40rem;
}

.screen::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: all 0.35s;
  border-radius: 70%;
}

.screen .top {
  position: absolute;
  bottom: 100%;
  margin-left: 5em;
  z-index: 2;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  transition: all 0.35s;
}

.screen .bottom {
  position: absolute;
  top: 150%;
  right: 30px;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  transition: all 0.35s;
}

i.like.icon.mylike::before {
  color: red;
}
