body {
  margin: 0px;
  /*width: 100vw;*/
}

.search {
	display: flex;
	padding: 6px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 45px;
	background-color: black;
	z-index: 4;
}
  
.headerLogo {
	width: 50px;
	height: 30px;
}

.blackNav {
	width: 40%;
}

.blackNav2 {
	width: 30%;
}

.searchTotalNav {
	display: flex;
}

.mainPage {
	display: flex;
  flex-direction: row;
}

.blockhere {
	display: flex;
	width: 100vw;
	height: 40px;
}

.leftSpace {
	width: 20%;
	height: 1000px;
	background-color: red; /* ! 표시임 지워야함 */
  /* width: 20%; */
}

.middleSpace {
	width: 60%;
	height: 1000px;
  background-color: green;
}

.midContents {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.rightSpace {
	width: 20%;
	height: 1000px;
	background-color: blue;

}

.user {
	color: black;
	font-size: 50px;

}